<div id="homeContainer">
  <header class="home-header">
    <div class="logo">
      <img src="/favicon.svg" alt="DontFile Logo">
      <h1>DontFile</h1>
    </div>
  </header>

  <main class="home-main">
    <section class="hero">
      <h2>Transferência de Arquivos Simples e Anônima.</h2>
      <p>Crie uma sala, envie seus arquivos e compartilhe o link. Só isso.</p>
      <div class="room-creator">
        <span>dontfile.onrender.com/</span>
        <input type="text" #roomInput placeholder="nome-da-sala" autofocus (keypress.enter)="goToRoom(roomInput.value)">
        <button id="createRoomBtn" (click)="goToRoom(roomInput.value)">Criar ou Acessar</button>
      </div>
    </section>

    <section class="support-container">
      <h3><i class="fa-solid fa-comments"></i> Suporte & Feedback</h3>
      <p>Encontrou um bug ou tem uma sugestão? Adoraria ouvir!</p>
      <a href="mailto:contato.dontfile@gmail.com" class="btn btn-support">
          <i class="fa-solid fa-envelope"></i> Enviar e-mail para contato.dontfile&#64;gmail.com
      </a>
    </section>
  </main>

  <footer class="site-footer">
    Feito com <i class="fa-solid fa-heart" style="color: #ff6b6b;"></i> por Gabriel Cézar
    <span class="footer-separator">|</span>
    Inspirado no <a href="https://dontpad.com" target="_blank" rel="noopener noreferrer">dontpad.com</a>
    <span class="footer-separator">|</span>
    <a href="#" class="pix-trigger" (click)="openPixModal($event)">Apoie este projeto (PIX)</a>
  </footer>
  
  <div *ngIf="isPixModalVisible" class="modal-backdrop" (click)="closePixModal()">
    <div class="modal" (click)="$event.stopPropagation()">
      
      <button class="modal-close" (click)="closePixModal()">&times;</button>
      
      <i class="fa-solid fa-mug-hot"></i>
      <h3>Gostou do projeto?</h3>
      <p>
        O DontFile é um projeto 100% gratuito e sem anúncios, mantido por mim no meu tempo livre.
        <br>
        Seu PIX ajuda a pagar os custos do servidor e (quem sabe) comprar um café para o dev!
      </p>

      <div class="pix-key-container">
        <div id="qrcodeCanvas" class="pix-qr-code"></div>
        <div class="pix-copia-cola">
            <p>Ou use a chave (Copia e Cola):</p>
            <div class="input-group">
                <input type="text" id="pixKeyInput" value="00020126580014BR.GOV.BCB.PIX0136c020f7e1-bf43-417e-a3e5-30e97272b47b5204000053039865802BR5925Gabriel Cezar da Silveira6009SAO PAULO62140510Cu4J7QsPTq63044F82" readonly>
                <button id="copyPixBtn">Copiar</button>
            </div>
        </div>
      </div>
      
    </div>
  </div>

</div>

